.root {
    min-width: 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #87d3b3;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.root:hover {
    background-color: rgb(97, 187, 159);
}

.root:disabled {
    background-color: #cfcfcf;
    cursor: not-allowed;
    box-shadow: none; 
  }
