.root {
  display: flex;
  flex-direction: column;
  color: white;
  background: rgb(46, 50, 94);
  padding: 15px;
  margin: 15px 0 15px 0;
  border-radius: 8px;
}

.field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.buttons {
  display: flex;
  justify-content: center;

  &> :not(:last-child) {
    margin-right: 15px;
  }
}
