.root {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.submitButton {
  width: fit-content;
}

  


  

  
