.root {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  color: white;
  background-color: rgb(48, 92, 92);
  margin: 0 auto;
  padding: 10px 10px;
}

.user {
  display: flex;
}