.root {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  color: white;
  background-color: rgb(48, 92, 92);
  padding: 10px ;
}

.user {
  display: flex;
}

.button {
  margin-right: 5px;
}