  
    .root {
      width: 100%;
      color: rgb(183, 87, 103);
      background-color: rgb(46, 50, 94);
    }
  
  .footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
  }
  
